@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

.page-body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 336px 1fr;
    grid-template-rows: 1fr max-content 1fr;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .page-body {
        grid-template-columns: 1fr 88vw 1fr;
    }
}

.todo-app {
    position: relative;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 46px 24px 19px 24px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.todo-app__sort-wrapper {
    margin-top: 0;
    margin-bottom: 6px;
    display: flex;
    justify-content: flex-end;
}

.todo-app__sort-button {
    background: none;
    border: none;
}

.todo-app::before {
    content: '';
    display: block;
    background-color: #FFDC40;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}

.todo-app__header {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.todo-app__list {
    position: relative;
    border: 1px solid #C4C4C4;
    padding: 0;
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 0 22px 0;
}

.todo-app__item {
    display: flex;
    min-height: 39px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    min-width: 284px;
}

.todo-app__item:hover {
    background-color: #FFDC40;
}

.todo-app__item-button-drag {
    background-color: transparent;
    border: none;
    margin-left: 10px;
}

.todo-app__item-button-drag svg {
    fill: #C4C4C4;
}

.todo-app__item-button-done .todo-app__item-button-done-svg {
    display: none;
}

.todo-app__item-button-done .todo-app__item-button-undone-svg {
    display: block;
}

.todo-app__item-button-done--checked .todo-app__item-button-undone-svg {
    display: none;
}

.todo-app__item-button-done--checked .todo-app__item-button-done-svg {
    display: block;
}

.todo-app__item-button-done--checked + .todo-app__item-input {
    text-decoration: line-through;
}

.todo-app__item-button-done {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    width: 39px;
}

.todo-app__item-input {
    font-size: 14px;
    border: none;
    background: transparent;
    margin-right: 16px;
    flex-grow: 1;
}

.todo-app__item-button-delete {
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    position: relative;
    width: 21px;
    height: 21px;
    margin-right: 6px;
}

.todo-app__item-button-delete:hover {
    border-color: #833AE0;
    background-color: #833AE0;

}

.todo-app__item-button-delete::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    width: 1px;
    height: 15px;
    background-color: #C4C4C4;
    top: 2px;
    left: 9px;
}

.todo-app__item-button-delete::after {
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    width: 1px;
    height: 15px;
    background-color: #C4C4C4;
    top: 2px;
    left: 9px;
}

.todo-app__item-button-delete:hover::before {
    background-color: #FFFFFF;

}

.todo-app__item-button-delete:hover::after {
    background-color: #FFFFFF;

}

.todo-app__button-add {
    font-size: 14px;
    line-height: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    min-height: 42px;
    margin: 0 auto;
    padding-left: 27px;
    background-color: #833AE0;
    border-radius: 71px;
    border: none;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.todo-app__button-add::before {
    content: "+";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: #9953F1;
    border-radius: 71px;
    top: 0;
    left: 0;
    z-index: 4;
}

.todo-app__button-add:hover {
    background-color: #9953F1;
}

.todo-app__button-add:hover::before {
    background-color: #AA68FE;
}

.todo-app__sort-button svg {
    fill: #C4C4C4;
}

.todo-app__sort-button:hover svg {
    fill: #000000;
}

.todo-app__sort-button--down .sort-arrow__up {
    display: none;
}

.todo-app__sort-button--up .sort-arrow__down {
    display: none;
}

.placeholder {
    background-color: #edf2f7;
    border: 2px dashed #cbd5e0;
    margin-bottom: 1rem;
}

.todo-app__item:last-child .todo-app__item-button-drag, .todo-app__item:last-child .todo-app__item-button-done, .todo-app__item:last-child .todo-app__item-button-delete {
    display: none;
}

.todo-app__item:nth-last-child(2) {
    border-bottom: 1px solid #C4C4C4;
}

.todo-app__item:last-child {
    background-color: #edf2f7;

}

.todo-app__item:last-child .todo-app__item-input {
    margin-left: 14px;
}